<app-navbar>
</app-navbar>
<form [formGroup]="form" (ngSubmit)="OnSubmit()">
    <div class="inputGroup"> 
        <span class="inputLabel">date: </span>
        <input type="string" formControlName="date" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">bedrooms: </span>
        <input type="number" formControlName="bedrooms" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">bathrooms: </span>
        <input type="number" formControlName="bathrooms" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">sqft_living: </span>
        <input type="number" formControlName="sqft_living" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">sqft_lot: </span>
        <input type="number" formControlName="sqft_lot" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">floors: </span>
        <input type="number" formControlName="floors" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">waterfront: </span>
        <input type="number" formControlName="waterfront" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">view: </span>
        <input type="number" formControlName="view" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">condition: </span>
        <input type="number" formControlName="condition" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">grade: </span>
        <input type="number" formControlName="grade" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">sqft_above: </span>
        <input type="number" formControlName="sqft_above" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">sqft_basement: </span>
        <input type="number" formControlName="sqft_basement" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">yr_built: </span>
        <input type="number" formControlName="yr_built" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">yr_renovated: </span>
        <input type="number" formControlName="yr_renovated" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">zipcode: </span>
        <input type="number" formControlName="zipcode" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">lat: </span>
        <input type="number" formControlName="lat" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">long: </span>
        <input type="number" formControlName="long" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">sqft_living15: </span>
        <input type="number" formControlName="sqft_living15" />
    </div>
    <div class="inputGroup"> 
        <span class="inputLabel">sqft_lot15: </span>
        <input type="number" formControlName="sqft_lot15" />
    </div>
    <button type="submit">
        SUBMIT
    </button>
</form>


<div class="resultDiv">
    Predicted Price: {{result?.score}}
</div>
